
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

.profile-pic {
  width: 100%;
  max-width: 500px;
  height: auto;
  border: 2px solid #000; 
  border-radius: 10px; 
  display: block; 
  margin: 20px auto; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  
}

body, ul {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 15px;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
  font-size: 2.5em;
  text-transform: uppercase;
}


ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  padding: 15px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul li ul {
  margin: 10px 0 0;
  padding-left: 20px;
}

ul li ul li {
  background: #f9f9f9;
  margin: 5px 0;
  border: none;
  box-shadow: none;
  padding-left: 10px;
}

strong {
  color: #2c3e50;
  text-transform: capitalize;
}


ul li ul li:hover {
  color: #ffffff;
  background: #3498db;
  cursor: pointer;
}


ul li ul li strong {
  display: block;
  margin-bottom: 5px;
}

li:hover {
  border-color: #3498db;
  background: #eaf6ff;
}

@media screen and (max-width: 768px) {
  body {
      margin: 10px auto;
      font-size: 90%;
  }

  h1 {
      font-size: 2em;
  }
}
